main.detail-main {
    display: grid;
    /* grid-template: grid-template-rows / grid-template-columns */
    grid-template: 512px 1fr / 352px 1fr;
    grid-column: 2 / 3;
    grid-gap: 10px;
    margin: 16px;
}

.poster {
    /* grid-area: grid-row-start / column-start / row-end (excluded) / column-end (excluded) ; */
    grid-area: 1 / 1 / 2 / 2;
    margin: 16px;
    width: 320px;
    height: 480px;
    object-fit: contain;
}

.informations {
    /* grid-area: grid-row-start / column-start / row-end (excluded) / column-end (excluded) ; */
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 40px;
}

.informations > h1 {
    color: white;
    font-size: 30px;
}

.informations > p {
    color: white;
    font-size: 20px;
    margin-bottom: 8px;
}

.genres-rating-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.rating {
    color: #f8fd08;
    font-size: 26px;
    font-weight: bold;
}

.play-button {
    height: 45px;
    width: 100px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

.synopsis,
.synopsis-seasons {
    /* grid-area: grid-row-start / column-start / row-end (excluded) / column-end (excluded) ; */
    grid-area: 2 / 1 / 3 / span 2;
    margin: 16px;
}

.synopsis > p,
.synopsis-seasons > p {
    color: white;
    font-size: 20px;
}

.synopsis > h2 {
    color: white;
    font-size: 24px;
}

.tabs {
    display: flex;
    gap: 32px;
}

.tabs > h2 {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.tabs > h2:hover {
    color: #003afee6;
}

.tabs > h2.active {
    color: #ff9933e6;
}
