.mosaic-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
}

.mosaic-item {
    position: relative;
    width: 450px;
    height: 200px;
    color: white;
    margin: auto;
    margin: 8px;
}

.mosaic-item-img {
    margin: auto;
    width: 450px;
    height: 200px;
    object-fit: cover;
    position: absolute;
    left: 0;
}

.mosaic-item-img:hover {
    transform: scale(1.2);
    z-index: 1;
    object-fit: contain;
    opacity: 0.8;
}
